<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/food-and-drink-55/50/burger-13-2-512.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>EAT DA BURGER</title>
</head>

<body>
	<img src="https://i.pinimg.com/originals/73/c2/75/73c2753f434eceefae47fb26a44e6870.jpg" width="400px" id="burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">Garrett Young</span>
			</div>
		</div>
	</footer>
</body>
</html>
